/* nav toggle */


@keyframes moveInLeft {
	0% {
	  opacity: 0;
	  transform: translateX(-100px); }
	80% {
	  transform: translateX(-10px); }
	100% {
	  opacity: 1;
	  transform: translate(0); } }


.nav-toggle {
	@include user-select;
	cursor: pointer;
	height: 5 * $nav-toggle-bar-height;
	left: 2rem;
	position: fixed;
	top: 2rem;
	width: $nav-toggle-bar-width;
	z-index: $z-nav-toggle;
  &:hover { opacity: 0.8; }

	.nav-toggle-bar,
	.nav-toggle-bar::after,
	.nav-toggle-bar::before {
		@include center-vertically;
		@include transition(all 0.5s ease);
		background: $nav-toggle-bar-color;
		content: '';
		height: $nav-toggle-bar-height;
		width: 100%;
	}
	.nav-toggle-bar { margin-top: 0; }
	.nav-toggle-bar::after { margin-top: 2 * $nav-toggle-bar-height; }
	.nav-toggle-bar::before { margin-top: -2 * $nav-toggle-bar-height; }
	&.expanded .nav-toggle-bar { background: transparent; }
	&.expanded .nav-toggle-bar::after,
	&.expanded .nav-toggle-bar::before {
		background: $nav-color;
		margin-top: 0;
	}
	&.expanded .nav-toggle-bar::after { @include transform(rotate(45deg)); }
	&.expanded .nav-toggle-bar::before { @include transform(rotate(-45deg)); }
}

/* nav */
.nav {
	@include transition(left 0.5s ease);
	background: $nav-background;
	color: $nav-color;
  cursor: pointer;
	font-size: 2rem;
	height: 100vh;
	left: -$nav-width;
	padding: 6rem 2rem 2rem 2rem;
	position: fixed;
	top: 0;
	width: $nav-width;
	z-index: $z-nav;
	&.expanded { left: 0; }

	ul {
		@include center-vertically;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

header {
	padding: 10px;
}

.header-nav {
	padding: 0 250px;
	margin-top: 25px;
  .logo {
	  float: left;
      font-size: 10px;
      letter-spacing: 5px;
	  text-transform: uppercase;
	 
  }

  .img-logo{
	width: 55%;
  }


  .social {
	  float: right;
	  color: rgb(124, 121, 121);
	  display: flex;
	  justify-content: space-around;
	  box-shadow: 0px 35px 30px -30px #777;
	  font-size: 16px;
	  li {
		  list-style: none;
		  color:white;
		  margin-left: 5px;
		  font-size: 20px;
		  box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.3);
		  padding: 5px 10px;
		a {
			&:hover{
				@include transition(all 600ms cubic-bezier(.99,0,.57,.94));
				@include transform(rotate(360deg));
			  }
		}

		.fa-facebook {
			&:hover {
				color: #4867AA;
			}
		}

		.fa-twitter{
			&:hover {
				color:rgb(81, 209, 255);
			}
		}

		.fa-github{
			&:hover {
				color:rgb(8, 8, 8);
			}
		}

		
		.fa-linkedin{
			&:hover {
				color:rgb(66, 53, 243);
			}
		}
	  }


	  
  }
  
}

main {
	padding: 100px
}

.main-header{
	height: 98vh;
	background-image: linear-gradient(to right bottom, rgba(32, 31, 31, 0.8), rgba(0, 0, 0, 0.8)), url("https://images3.alphacoders.com/104/thumb-1920-1041825.jpg");
		background-size: cover;
		background-position: top;
		position: relative;
}

.heading-primary{
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
	margin-bottom: 6rem;
	border-left: 3px solid white;
    &--main{
		margin-left: 12px;
        font-size: 4rem;
        font-weight: 400;
        letter-spacing: 1.5rem;
        animation-name: moveInLeft;
        animation-duration: 5s;
        animation-timing-function: ease-out;
    }
    &--sub{
		margin-left: 12px;
		display: block;
        font-size: rem;
        font-weight: 700;
        letter-spacing: 11px;
        animation: moveInRight 1s ease-out;
	}

}

.main-text-box{
	position: absolute;
    top: 60%;
    left: 31%;
    transform: translate(-60%, -60%);
}

.btn-contact {
	cursor: pointer;
	border-radius: 15px;
	background-color: transparent;
	color: rgb(253, 180, 153);
	padding: 0.5em 1.8em;
	text-align: center;
	font-weight: normal;
	transition: box-shadow 300ms ease-in-out, color 300ms;
	&:hover,
	&:focus {
	  color: black;
	  box-shadow: 0 0 40px 40px white inset;
	}
}