/* imports */
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

/* colors */
$grey: rgb(117, 113, 113);
$black: black;

/* variables */
$html-background: $black;
$html-font: 'Source Sans Pro', Helvetica, Arial, sans-serif;
$nav-toggle-bar-color: white;
$nav-toggle-bar-height: 0.4rem;
$nav-toggle-bar-width: 3.6rem;
$nav-background: $grey;
$nav-color: white;
$nav-width: 20rem;
$z-nav-toggle: 2;
$z-nav: 1;


/* resets and base styles */
* {
	@include box-sizing;
	@include text-size-adjust;
	&:focus { outline: none; }
}
html {
	background: $html-background;
	color: white;
	font: normal 10px/1.42857 $html-font;
}
body { background: none; color: inherit; font: inherit; }
a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  &:hover { opacity: 0.8; }
}
